@import "styles/abstracts/variables.scss";

.container {
  position: relative;
}

.image {
  width: 100%;
}

.text {
    color: $primary-color;
    font-weight: 700;
    font-size: 8rem;
}

.bottom {
    position: absolute;
    bottom: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}