$primary-color: #FFFFFF;
$secondary-color: #280A5F;
$third-color: #00B6FF;
$fourth-color: #747FFE;
$fifth-color: #F059FC;
$sixth-color: #16BBFD;
// $second-text-color: #747FFE;
// $main-color: white;
// $primary-color: #008cba;
// $secondary-color: lightblue;


$button-default: #232323;
$button-hover: #747FFE;
$button-active: #9484AF;

$button-first-color: #F059FC;
$button-second-color: #00B6FF
