$primary-color: #ffffff;
$secondary-color: #280a5f;
$third-color: #00b6ff;
$fourth-color: #747ffe;
$fifth-color: #f059fc;
$sixth-color: #16bbfd;
$seventh-color: #5d5cce;
$eigth-color: #1b86ce;
$ninth-color: #EEEDEF;

$button-default: #232323;
$button-hover: #747ffe;
$button-active: #9484af;

$button-first-color: #f059fc;
$button-second-color: #00b6ff;
